
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;    
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/dot.png');
}

.header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title{
    text-align: center;
    font-family: 'Raleway' sans-serif;
}

.information{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;   
}

.information p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;
}

.information p::before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;    
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.information .job::before{
    background-image: url('../img/icon/job.png');
}
.information .location::before{
    background-image: url('../img/icon/location.png');
}
.information .phone::before{
    background-image: url('../img/icon/whats.png');
}
.information .email::before{
    background-image: url('../img/icon/email.png');
}


  /*Media queries*/

  @media only screen and (min-width: 768px) {
    .header{
      display: grid;
      grid-template-areas: "photo title" "photo information";
    }
    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title{
        grid-area: title;
        text-align: start;
       
        margin-left: 30px;
    }
    
    .header .information{
        grid-area: information;
        margin-left: 30px;
    }
  }
